<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <!-- Root Vue Application -->
    <div id="app" class="container">
        <!-- Parte destra -->
        <div class="cl_left">
            <!-- user -->
            <div class="user">
                <div class="my_info">
                    <img :src="'img/avatar' + user.avatar + '.jpg'" alt="user.name">
                    <h1>{{ user.name }}</h1>
                </div>
                <div class="icons">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <!-- /user -->
            <!-- notifications -->
            <div class="notifications">
                <div class="bell_icon">
                    <i id="mood" class="fas fa-bell-slash"></i>
                </div>
                <div class="text_bell_icon">
                    <h4>Ricevi notifiche di nuovi messaggi</h4>
                    <p>Attiva notifiche desktop</p>
                </div>
            </div>
            <!-- /notifications -->
            <!-- search -->
            <div class="search">
                <div class="container_search">
                    <button><i class="fas fa-search"></i></button>
                    <input type="text" placeholder="Cerca o inizia una nuova chat">
                </div>
            </div>
            <!-- /search -->
            <!-- chat_list -->
            <div class="chat_list">
                <div v-for="(contact, index) in contacts"
                :class="{active:index == activeChat}" @click="activeChat = index" class="row_friends">
                    <img :src=" 'img/avatar' + contact.avatar + '.jpg'" alt="user.contacts">
                    <h4>{{ contact.name }}</h4>
                </div>
            </div>
            <!-- /chat_list -->
        </div>
        <!-- Fine parte destra -->

        <!-- Inizio parte sinistra -->
        <div class="cl_right">
            <!-- user_chat -->
            <div class="user_chat">
                <div v-if="activeChat != -1" class="info_user_chat">              
                    <div class="img_user_chat">
                        <img :src="'img/avatar' + contacts[activeChat].avatar + '.jpg'" alt="">
                    </div>
                    <div class="name_access_user_chat">
                        <h4>{{contacts[activeChat].name}}</h4>
                        <p>Ultimo accesso oggi alle</p>
                    </div>
                </div>
                <div v-else class="user_chat"></div>
                <div class="icons_user_chat">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <!-- /user_chat -->
            <!-- main_chat -->
            <div v-if ="activeChat != -1" class="main_chat">
                <div v-for= "message in contacts[activeChat].messages" class="row" :class="(message.status == 'received') ? 'row_chat_received' : 'row_chat_send' ">
                    <div class="cloud">
                        <p> {{ message.text }}</p>
                    </div>
                </div>
            </div>
            <div v-else class ="main_chat"></div>
            <!-- /main_chat -->
            <!-- write_msg -->
            <div class="write_msg">
                <i class="far fa-smile"></i>
                <input class="send_msg"type="text" placeholder="Scrivi un messaggio">
                <i class="fas fa-microphone"></i>    
            </div>
            <!-- /write_msg -->
        </div>
        <!-- Fine parte sinistra -->
    </div>
    <!-- JS -->
    <script src="js/main.js"></script>
</body>
</html>